@import "tailwindcss";

@theme {
  --color-text: #272727;
  --color-beige: #ab8264;
  --color-accent: #396448;
  --color-bg: #f9f4f0;
  --color-light-beige: #efe9e3;
  --color-accent-hover: #56986e;

  --font-bebas: var(--font-bebas-local);
  --font-raleway: var(--font-raleway-local);
}

:root {
  --text: #272727;
  --beige: #ab8264;
  --accent: #396448;
  --bg: #f9f4f0;
  --light-beige: #efe9e3;
  --accent-hover: #56986e;
  --linear: linear-gradient(180deg, #f9f4f0 0%, #ab8264 100%);
  --linear-green: linear-gradient(180deg, #f9f4f0 0%, #396448 100%);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-raleway-local), sans-serif;
  font-synthesis: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-bebas {
  font-family: var(--font-bebas-local), sans-serif;
}

.font-raleway {
  font-family: var(--font-raleway-local), sans-serif;
}
